<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palette.done">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DoneApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Done">
        <activity android:name=".view.main.notice.GuidePlanActivity"/>
        <activity android:name=".view.my.sticker.StickerActivity" />
        <activity android:name=".view.my.MyEditActivity" />
        <activity android:name=".view.my.MyMenuActivity" />
        <activity android:name=".view.my.MyActivity" />
        <activity android:name=".view.main.today.TodayRecordActivity" />
        <activity
            android:name=".view.main.PlanRoutineActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.main.DoneActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.MainActivity" />
        <activity
            android:name=".view.signin.OnBoardingActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.login.AfterFindPwdActivity"
            android:noHistory="true" />
        <activity
            android:name=".view.StartActivity"
            android:exported="true" />
        <activity
            android:name=".view.LandingActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name=".view.login.FindPwdActivity"
            android:exported="true" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true" />
    </application>

</manifest>