<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palette.done">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DoneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Done">
        <activity android:name=".view.signin.OnBoardingActivity"></activity>
        <activity android:name=".view.login.AfterFindPwdActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.StartActivity"
            android:exported="true" />
        <activity
            android:name=".view.LandingActivity"
            android:exported="true" />
        <activity
            android:name=".view.login.FindPwdActivity"
            android:exported="true" />
        <activity
            android:name=".view.signin.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true" />
    </application>

</manifest>